# Dependências
node_modules/
.pnpm-store/

# Build
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.eslintcache
